[submodule "Raytracing-In-A-Weekend/vendor/glm"]
	path = Raytracing-In-A-Weekend/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Raytracing-In-A-Weekend/vendor/glfw"]
	path = Raytracing-In-A-Weekend/vendor/glfw
	url = https://github.com/glfw/glfw
